{% extends 'base.html' %}
{% block title %}contact{% endblock title %}
{% block body %}


<form class="container bg-body-secondary p-5 rounded-2" action="contact" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" name="name"  placeholder="Eg.John">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone</label>
        <input type="number" class="form-control" name="phone" placeholder="Eg.34983487">
    </div>
    <button type="submit" class='btn btn-primary'> submit</button>
</form>
{% endblock body %}